<h1>Random Sampling</h1>

In [58]:
import numpy as np
import pandas as pd

data = pd.read_csv("rnaseq.csv")

first_col = data.iloc[:, :2]

rest = data.iloc[: , 1:]

#pick n random columns
samp = rest.sample(n=100,axis='columns')

df = pd.concat([first_col,samp], axis = 1)

df.reset_index(drop=True, inplace=True)

df.to_csv("samples100.csv", index = False)

In [56]:
df

,Unnamed: 0,M1_A01,M8_B02,M2_G11,M7_A03,M5_G07,M2_B10,M8_D06,M6_H01,M5_A05,M3_F07,M5_H06
0,"0610005C13Rik,chr7",0,0,0,0,0,0,0,0,0,0,0
1,"0610007N19Rik,chr15",0,0,0,0,0,0,0,0,0,0,0
2,"0610007P14Rik,chr12",0,0,3,2,0,1,0,0,0,3,3
3,"0610008F07Rik,chr2",0,0,0,0,0,0,0,0,0,0,0
4,"0610009B14Rik,chr12",0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
23574,"ERCC-00164,ERCC-00164",0,0,0,0,0,0,0,0,0,0,0
23575,"ERCC-00165,ERCC-00165",0,0,0,0,0,0,0,0,0,0,0
23576,"ERCC-00168,ERCC-00168",0,0,0,0,0,0,0,0,0,0,0
23577,"ERCC-00170,ERCC-00170",0,0,0,0,0,0,0,1,0,0,0
23578,"ERCC-00171,ERCC-00171",3,2,3,4,5,14,1,3,2,10,5

#https://medium.com/@evgen.ryzhkov/5-stages-of-data-preprocessing-for-k-means-clustering-b755426f9932

<h1>Ignore this stuff on the bottom<h1>

In [ ]:
#clean by columns
#ignore this
import numpy as np
import pandas as pd

data = pd.read_csv("rnaseq.csv", skiprows = 1).T
data.drop_duplicates()

def remove_outliers(df,columns,n_std):
    for col in columns:
        #print('Working on column: {}'.format(col))
        
        mean = df[col].mean()
        sd = df[col].std()
        
        df = df[(df[col] <= mean+(n_std*sd))]
        
    return df

new_data = data.iloc[1: , :]
no_outliers = remove_outliers(new_data,data.head() ,4)
print(no_outliers.shape)

In [ ]:
no_outliers.to_csv("no_outliers_3.csv")